*{
    margin: 0; /*Ancho de los margenes*/
    padding: 0; /*Tamaño del relleno*/
    box-sizing: border-box; /*Control de bordes y relleno */
}

html{
    scroll-behavior: smooth; /*para controlar el comportamiento del desplazamiento (scroll) en los elementos contenedores*/
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    background-color: #F1F1F2;
}
/*header*/

.header__container{
position: fixed; /*posicionar un elemento de manera fija en relación a la ventana del navegador*/
top: 0;
left: 0;
width: 100%;
height: auto;
background-color: #F1F1F2;
/*box-shadow: 0px 4px 5px aqua;*/
text-align: center;
z-index: 2; /*controlar el orden de apilamiento de elementos posicionados*/
font-family: sans-serif;
}
.header__container ul{
    display: flex; /*convierte el contenedor en un contenedor flexible*/
    justify-content: center; /* alinea los elementos del contenedor horizontalmente y los centra en el eje principal, los elementos se alinearán al centro del contenedor*/
    gap: 25px; /*establecer un espacio entre los elementos del contenedor*/
    line-height: 50px; /*altura de línea para los elementos del contenedor*/
    list-style: none; /*eliminar los estilos de viñeta o numeración de la lista*/
}

.header__container ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-transform:initial;
    font-weight: 600;
    transition: all 0.4s;
}

.header__container ul li img{
   width: 48%;
   transition: all 0.3s;
}


.header__container ul li a:hover{
    color: aqua;
    font-size: 22px;
}

/*banner*/
.banner{
    
    display: grid;
    height: 100vh;
    place-items: center;
    text-align: center;
    background-image: url(../img/1.jpg);
    background-color: aliceblue;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.banner__text{
    z-index: 1;
}
.banner::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.banner__text h1{
    font-family: sans-serif;
    font-size: 55px;


}
.banner__text p{
    font-family: sans-serif;
    color: aliceblue;
    font-weight: 900;
    font-size: 50px;
    margin-top: 50px;    

}
.banner__text a{
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: white;
    padding: 10px 25px;
    display: inline-block;
    margin-top: 50px;   
    border-radius: 24px;
    border: 2px solid aqua;
    transition: all 0.4s; 

}
.banner__text p:hover{
   color: aqua;

}
.banner__text a:hover{
    background-color: aqua;

}

/*about*/

.about{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section-header{
    margin-bottom: 40px;

}
.section-header h2{
    font-size: 90px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-transform:initial;

}

.section-header p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}

.single-about img{
    width: 35%;
    object-fit: cover;
    box-shadow: 3px 3px 5px 4px aqua;
}
.single-about h2{
    font-size: 40px;
    padding-top: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.single-about p{
    width: 50%;
    margin: auto;
    padding: 40px 0;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.service{
    padding: 40px;

}

.section-header h2{
    font-size: 50px;
    padding-top: 40px;
   font-weight: bolder;
  
}

.section-header p{
    width: 50%;
    margin: auto;
    padding: 40px 0;

}

.service-content{
    display: flex;
    


}
.service-content img{
    width: 108%;
    padding: 9%;
    height: 210px;
    
    

}
.service-content h2{
    text-transform: uppercase;
    margin: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: all 0.4s;
    
}
.service-content h2:hover{
    color: aqua;
    font-size: 22px;

}

.service-content p{
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 10%;
    
}

.banner2{
    
    display: grid;
    height: 70vh;
    place-items: center;
    text-align: center;
    background-image: url(../img/31.jpg);
    background-color: aliceblue;
    background-size: cover;
    background-position: center center;
    position: relative;
    box-shadow: 3px 3px 5px 4px aqua;
}


/*contact*/
.contact{

    padding: 30px 0;
    

}
.single-contact{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.single-contact input{
    width: 85%;
    height: 40px;
    margin: 10px;
    border: none;
    border-bottom: 3px solid aqua;
    border-radius: 10px;
}
.single-contact textarea{
    width: 85%;
    height: 120px;
    border: none;
    border-bottom: 3px solid aqua;
    border-radius: 10px;
}
.single-contact input:last-child{
    border: none;
    width: 25%;
    border-radius: 10px;
    background-color: white;
    color: black;
}
.single-contact input:last-child:hover{
    background-color: aqua;
}


/*gallery*/
.contact2{

    padding: 40px 0;
    background-color: black;
    font-family: sans-serif;
    color: #F1F1F2;
   

}





.single-contact2{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    justify-content: right;
    align-items: right;

}

.single-contact2 img :hover{
    color: aqua;

}
.single-contact2 input{
    width: 88%;
    height: 50px;
    margin: 10px;
    border: none;
    border-bottom: 3px solid aqua;
    border-radius: 10px;
}

.single-contact2 input:last-child{
    border: none;
    width: 25%;
    border-radius: 10px;
    background-color: white;
    color: black;
   

}
.single-contact2 input:last-child:hover{
    background-color: aqua;
}



/*footer*/
footer{
    background-color: #F1F1F2;
    color: black;
    line-height: 2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}


/*responsive*/
@media (max-width:1021px) {
    .header__container ul li a{
        color:aqua;
    }
    .service-content img {
        width: 175px;
        padding: 20;
        height: 200px;
    }
}
@media (max-width:800px) {
    .header__container ul li a {
        font-size: 15px;
    }
    .service-content {
        justify-content: center;
        display: flex;
        flex-direction: column;
}
.service-content img {
    width: 100%;
    padding: 10%;
    height: 500px;
} 

.section-header p {
    width: 85%;
    margin: auto;
    padding: 40px 0;
}
.single-about img {
    width: 80%;
    object-fit: cover;
}

.single-about img {
    width: 50%;
    object-fit: cover;
}
.single-about p {
    width: 80%;
    margin: auto;
    padding: 40px 0;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
}


@media (max-width: 640px) {
    .header__container ul li a {
        font-size: 15px;
    }
    .header__container ul li img {
        width: 70%;
        transition: all 0.4s;
    }
    .single-contact {
          
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
}
    .single-contact input {
        width: 100%;
} 
    .single-contact textarea {
    width: 100%;
}
.service-content img {
    width: 85%;
    padding: 10%;
    height: 300px;
}
.header__container ul li img {
    width: 30%;
    transition: all 0.4s;
}

}
@media (max-width:480px) {
    .header__container ul li a{
        color:aqua;
    }

    .header__container ul {
        display: flex;
        justify-content: center;
        gap: 10px;
        list-style: none;
    }
    .header__container ul li img {
        width: 80%;
        transition: all 0.4s;
    }
    .single-contact input {
        width: 80%;
}
.single-contact textarea {
    width: 80%;
}
}
@media (max-width: 360px){
    .header__container ul li img {
        width: 80%;
        transition: all 0.4s;
    }
    .service-content img {
        width: 100%;
        padding: 10%;
        height: 200px;
    }
    .single-contact2 input:last-child {
        border: none;
        width: 40%;
        border-radius: 10px;
        background-color: white;
        color: black;
    }
}

